// password component css
.enter-psd{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    .psd-img{
        width: 45%;
        padding-left: 5%;
        box-sizing: border-box;
    }
    .pas-content{
        flex: 1;
        h3{
            font-weight: 600;
            color: $fontColor_00;
        }
        .fz_36{
            margin: 40px 0px 30px 0px;
            .card-num{
                color: $fontColor_orange;   
                margin-left:10px;
            }
        }
        .real-psd{
            position: absolute;
            top: 0;
            height: 72px;
            z-index: 99;
        }
        .psd-group{
            display: flex;
            input{
                width: 70px;
                height: 70px;
                line-height: 70px;
                border-left: 1px solid $fontColor_EE;
                border-top: 1px solid $fontColor_80;
                border-bottom: 1px solid $fontColor_80;
                font-size: 60px;
                color: $fontColor_33;
                text-align: center;
                &:nth-child(1){
                    border-left: 1px solid $fontColor_80;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
                &:nth-child(6){
                    border-right: 1px solid $fontColor_80;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
        }
    }
    
}